.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem
}

.contact__option {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    box-shadow: 0 2px 20px 0 var(--color-primary);
    transition: var(--transition);
}

.contact__option:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

/* Form ==== */

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}

.Astronaut1__png img{
    position: absolute;
    top: 4840px;
    object-fit: cover;
    right: 320px;
    width: 20rem;
}

.Astronaut2__png img {
    position: absolute;
    top: 5200px;
    object-fit: cover;
    left: -80px;
    width: 28rem;
    animation: updown 3s linear infinite;
}

@media screen and (max-width: 1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .Astronaut2__png img {
        position: absolute;
        top: 7500px;
        object-fit: cover;
        left: -80px;
        width: 28rem;
        opacity: 0.7;
        animation: updown 3s linear infinite;
        position: fixed;
    }

    .Astronaut1__png img{
        position: absolute;
        top: 7430px;
        object-fit: cover;
        right: 180px;
        z-index: -2;
        opacity: 0.7;
        width: 30rem;
    }
}

@media screen and (max-width: 600px) {
    .container.contact__container {
        width: var(--container-width-sm);
    }

    .Astronaut2__png img {
        display: none;
    }

    .Astronaut1__png img{
        position: absolute;
        top: 8910px;
        object-fit: cover;
        right: 10px;
        z-index: -2;
        opacity: 0.7;
        width: 30rem;
    }
}