header {
    height: 135vh;
    padding: 3rem;
    overflow: hidden;
    background-image: url('../../assets/banner-bg.png');
}

.container__header-top {
    margin: 2rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo h4{
    font-size: 1.5rem;
    color: var(--color-primary);
    filter: var(--tw-drop-shadow);
    line-height: 2rem;
}

.icon-sleep h3{
    font-size: 1.5rem;
    color: var(--color-primary);
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* ======== CTA ====*/
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ===== SOCIALS */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 8rem;
    font-size: 1.5rem;
}

.header__center::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.header__left img {
    left: -450px;
    top: -80px;
    width: 28rem;
    position: relative;
    object-fit: cover;
}

.header__right img {
    right: -770px;
    top: -150px;
    width: 25rem;
    position: relative;
    object-fit: cover;
    animation: updown 3s linear infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    } 
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}

/* ===== ME */

.me {
    background:linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    /* height: 40rem; */
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 100%;
    overflow: hidden;
    padding: 0 1.5rem 1.5rem 1.5rem;
}


.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 18rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* ======== */
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header__logo h4 {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1rem;
    }

    .header__container h1 {
        font-size: 1.5rem;
    }

    .header__right img {
        right: -330px;
        top: -280px;
        width: 8rem;
        position: relative;
        object-fit: cover;
        animation: updown 3s linear infinite;
    }

    .me {
        background:linear-gradient(var(--color-primary), transparent);
        width: 18rem;
        height: 30rem;
        position: absolute;
        left: calc(50% - 8.5rem);
        margin-top: 4rem;
        border-radius: 12rem 12rem 0 0;
        overflow: hidden;
        padding: 5rem 1.5rem 1.5rem 1.5rem;
    }

    .header__left img {
        left: -80px;
        top: -100px;
        width: 10rem;
        position: relative;
        object-fit: cover;
    }

    .container__header-top {
        margin: 0 0.2rem;
    }

    .header__socials {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
        position: absolute;
        left: -1.5rem;
        bottom: 3rem;
        font-size: 1rem;
    }

    .scroll__down {
        position: absolute;
        right: -4.3rem;
        bottom: 5rem;
        transform: rotate(90deg);
        font-weight: 300;
        font-size: 0.9rem;
    }
}